@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400&subset=cyrillic');
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  background-image: url('../img/bg.jpg');
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #f5f5f5;
}
header {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  background-color: #263238;
  width: 900px;
  height: 60px;
  margin: 0 auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}
header h1 {
  margin-bottom: 4px;
  text-transform: uppercase;
  font-weight: 300;
  text-shadow: 0 0 2px #000;
  color: #fff;
}
.desktop_nav {
  width: 690px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  overflow: hidden;
  background-color: lawngreen;
  height: 32px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  
}
.desktop_nav ul {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.desktop_nav ul li {
  list-style: none;
  border-left: 1px solid rgba(0,0,0,0.2);
}
.desktop_nav ul li:first-child {
  border-left: none;
}
.desktop_nav ul li a {
  display: block;
  text-decoration: none;
  color: #212121;
  margin: 0 40px;
  text-transform: uppercase;
  font-weight: 400;
}
